body {
  font-family: "Poppins", sans-serif;
  a {
    text-decoration: none;
  }
  .btn-warning {
    --bs-btn-bg: #ffd95a;
    background-color: #ffd95a;
    color: black;
  }
  .table {
    .dropdown-item {
      .icon-list {
        margin-right: 10px;
      }
    }
  }
}

.page-content {
  @include media-breakpoint-up(md) {
    margin-top: 100px;
  }
  @include media-breakpoint-down(md) {
    margin-top: 50px;
  }
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;

  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}
